*{
    background:#FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    border: #051f2b 3px solid;
    border-radius: 12px;
    color:#0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    box-shadow: 10px 10px 30px 15px #000000;
}
::placeholder{color:#0A3871; }
.text-area:focus{
    outline:none;
}

.mensaje{
    border: 5px solid #011225;
    background: white;
    background-image: url("Imagenes/Muñeco.svg");
    background-repeat: no-repeat;   
    box-shadow: 10px 10px 30px 15px #000000;
    border-radius: 24px;
    color:#0A3871;
    margin-left: 98px;
    margin-top: 45px;
    padding-left: 20px;
    position: relative;
}
.mensaje:focus{
    outline: none;
}
.informacion{
    border:none;
    margin-left: 100px;
}
.botones{
    display: flex;
    margin-top: 18px;
    flex-direction: row;
}
.btn-desencriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A3871;
    background-color: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 300px;
    
    width:336px;
}



footer .texto-footer{
    padding: 40px;
    text-align: center;
    background: #FFFFFF;
} 

.texto-footer{
    color:#252525;
    font-style: oblique;
    font-size: 25px;
}

.redes-sociales{
    justify-content: center;
    display: flex;
}
.github{
    height: 90px;
    width:90px;
    justify-content: center;
}

.linkedin{
    height: 75px;
    width: 85px;
    justify-content: center;
    margin-left: 15px;
}