*{
    background:#FFFFFF ;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    border:none;
    color:#0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{color:#0A3871; }
.text-area:focus{
    outline:none;
}

.mensaje{
    border: 5px solid #011225;
    background: white;
    background-image: url("Imagenes/Muñeco.svg");
    background-repeat: no-repeat;
    box-shadow: 10px 10px 30px 15px #000000;
    border-radius: 24px;
    color:#0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}
.mensaje:focus{
    outline: none;
}
.informacion{
    border:none;
    margin-left: 100px;
}
.botones{
    display: flex;
    margin-top: 18px;
}
.btn-desencriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #03060b;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: flex;
    width:336px;
}



.diseno-footer{

    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-style: oblique;
    background: #FFFFFF;
}


.redesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
.red-social{
    
    width: 200px;
    height: 100px;
    background: #FFFFFF;
}

.redesSociales a:not(:last-child){
    margin-right: 10px;
}



